:root {
    --blue-color: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F0F2F6;
    --white: #FFFFFF;
    --other-grey: #F2F2F2;
    --black: #000000;
}


body {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;   
    max-width: 1440px;
    font-style: normal;
}

.container {
    padding: 0 50px;
}

.card-main,
.card-sponsored,
.card-activities {  
    background: var(--white);
    border-radius: 20px;
    padding-bottom: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
 
.card-main,
.card-sponsored,
.card-activities img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; 
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/*NAV*/
nav {
    width: 100%;
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

nav img {
    width: 61.09px;
    height: 19px;
}

nav li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

nav li:hover {
    border-top: 2px solid blue; 
}

nav li a:hover {
    color: blue;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*SECTION CLASS CONTENT*/
   /*BARRE DE RECHERCHE*/
.info-group {
   width: 100%;
    height: 281px;
    padding-bottom: 20px;
}

.rechercher {
    display: flex;
    flex-direction: row; 
    width: 332px;
    margin-top: 20px;
}

.rechercher i {
    width: 50px;
    height: 49px;
    background: var(--grey);
    align-items: center;
    justify-content: center; 
    display: flex;
    border: 1px solid var(--other-grey);
    border-radius: 15px 0px 0px 15px;   
}

.rechercher input {   
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    border-width: 1px 0; 
    border-color: var(--other-grey);
    border-style: solid;
    padding-left: 20px;
}

.rechercher input:focus{
    outline: thin dotted;
}

button {
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--white);
}

   /*FILTRES*/
.filterBar {
    max-width: 914px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px; 
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
    
}

.filterBar i {
    color: var(--blue-color);
}

.filtres__button {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 48px;
    border: 2px solid var(--grey);
    border-radius: 25px;    
    gap: 20px;
    padding: 0 20px;   
}

.filtres__button:hover {
    background: var(--light-blue);   
}

  /*INFOBAR*/
.infobar {
    width: 447px;
    height: 24px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 16px;
    padding-left: 0px;
    margin-top: 10px;
}

.infobar i {
    width: 24px;
    height: 24px;
    color: var(--blue-color);
    justify-items: center;
}

.infobarText {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
 }

 /*HEBERGEMENTS A MARSEILLE AVEC PHOTOS*/

 .section-offer {   
    height: 626px;
    display: flex;
    gap: 40px;
}

.offers-main {   
    height: 626px;
    padding: 15px;
    background: var(--other-grey);
    border-radius: 20px;
    box-sizing: border-box;
} 

.offers-main h1 {
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 15px;

}
.offers-main a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.title-main h3 {
    margin-top: auto;
    gap: 15px;
}

.title-main p {
    margin-top: auto;
    margin-left: 10px;
}

.icon-main {
    width: 12px;
    height: 12px;
    color: var(--blue-color);
    margin-left: 10px; 
    display: flex;
    flex-direction: row;
}

.icon-main span i {
    color: var(--other-grey);
}

.card-main img {
    border: 5px solid var(--white);
    border-radius: 20px 20px 0px 0px;
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.grid-hotels img {
    width: 95%;
    height: 50%;
    object-fit: cover;      
}
     
.grid-hotels {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 220px 220px 220px;
     gap: 30px;
}

/*LES PLUS POPULAIRES AVEC PHOTOS*/

.offers-sponsored { 
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--other-grey);
    display: flex;
    flex-direction: column;
} 

.title-sponsored {
    color: var(--black);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .title-sponsored i {
    width: 18px;
    height: 15.75px;
    color: var(--blue-color); 
    padding-right: 10px; 
}
 
.card-sponsored {    
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;     
}   

.card-sponsored img {
  width: 137px;
  height: 144px;
  box-sizing: border-box;
  border: 5px solid #FFFFFF;
  border-radius: 20px 0px 0px 20px;
}

.text-sponsored {
   flex-direction: column;
}

.text-sponsored h3 {
   gap: 15px;
   color: var(--black); 
   margin-left: 10px;
   margin-top: 10px;
}

.text-sponsored p {
   margin-left: 10px;
}

.icon-sponsored {
    display: flex;
    padding-top: 20px;
    width: 12px;
    color: var(--blue-color); 
    margin-left: 10px; 
    margin-bottom: 10px;
}

.icon-sponsored span i {
   color: var(--other-grey);
}

.grid-activites2 img {
    width: 50%;
    object-fit: cover;     
}
    
.grid-activites2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px ;
    gap: 33px;
}

/*SECTION ACTIVITES A MARSEILLE*/

.section_activites {   
    padding-bottom: 40px;
}  

.activities {
    display: flex;
    gap: 25px;
}

.card-activities {
    width: 25%;
    background: var(--white);
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
 }

.card-activities h3 {
   padding-left: 5px;  
}

.card-activities img {
    border-radius: 20px 20px 0px 0px;;
    width: 100%;
    height: 380px;
    object-fit: cover; 
}

.carre-activities {
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5px;
}
    
/*FOOTER*/
.end {
    background-color: #F2F2F2;
    max-width: 1440px;
    height: 191px;
    display: flex;
    padding-top: 25px;
}

.articles-end {
    width: 250px;
    padding-left: 50px;
}
  
.articles-end h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 40px;
    padding-bottom: 15px;
} 
  
.text-end li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

  .end ul {
    list-style-type: none;
}